@{
    ViewBag.Title = "Home";
}
<div class="home-page">
    <div class="message">
        <h1 class="text-center pt-5 fx-1">Welcome to the Cosmetics Shop!</h1>
        <p class="text-center pb-4">Make yourself at home and check out some cool make-up.</p>
    </div>
   


    <div class="home-page-links">
        <div class="home-btn">
            <a asp-controller="Category" asp-action="List" class="btn btn-lg me-1">Products</a>

            <a asp-controller="Cart" asp-action="Index" class="btn btn-lg">Cart</a>
        </div>
        
    </div>


</div>